.u-dp-pc {
  display: block;

  &__md {
    @include mq(md) {
      display: none;
    }
  }

  &__sm {
    @include mq(sm) {
      display: none;
    }
  }

}

.u-dp-sp {
  display: none;


  &__md {
    @include mq(md) {
      display: block;
    }
  }

  &__sm {
    @include mq(sm) {
      display: block;
    }
  }
}
