<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>

<!-- <h1><%= 'Hello, EJS'%></h1> -->





<div class="js-first-view l-main">



</div>

<%- include('./_inc/_footer', { pageId: pageId }) %>
