.c-bread {
  &__list {
    position: relative;
    @include flex($align:center,$justify:center,$wrap:wrap);
  }

  &__item {
    margin: 0 10px;
    @include flex($align:center,$justify:center);

    a {
      color: $color-white;
      font-size: 1.6rem;
    }
  }

  &__border {
    position: relative;
    width: 20px;
    &::before {
      @include absolute($left:0);
      content: "";
      height: 2px;
      width: 100%;
      background: $color-white;
    }
  }
}
