.c-heading {
  &__main {
    margin: 0 0 40px;

    @include mq(md) {
      margin: 80px 0 30px;
    }

    .-en {
      display: block;
      margin-top: 8px;
      font-size: 4.4rem;
      font-weight: 300;
      letter-spacing: 0.06em;
      @include mq(sm) {
        font-size: 3.2rem;
      }
    }

    .-ja {
      display: block;
      color: $color-green-light-2;
      @include flex($align:center);
      font-size: 1.6rem;
      line-height: 1;
      font-weight: 600;

      &.center {
        justify-content: center;
      }

      &.end {
        justify-content: flex-end;
      }

      &::after {
        content: "";
        height: 1px;
        width: 32px;
        font-size: 1.6rem;
        background: $color-green-light-2;
        margin-left: 12px;
      }

      @include mq(sm) {
        font-size: 1.2rem;
      }
    }


  }
}
