.intro {
  margin: 0 0 80px;

  @include mq(md) {
    padding: 0 20px;
    margin: 80px 0 40px;
  }

  &__heading {
    line-height: 1;

    & .-en {
      text-transform: uppercase;
      color: $color-bg;
      display: block;
      font-weight: 600;
      font-size: 1.6rem;
    }

    & .-ja {
      display: inline-block;
      position: relative;
      margin: 20px 0 0;
      font-size: 4rem;
      font-weight: 700;

      @include mq(sm) {
        font-size: 4rem;
        line-height: 1.4;
      }
    }
  }

  &__txt {
    font-size: 1.6rem;
    max-width: 800px;
    width: 100%;
    line-height: 2;
    margin: 40px auto 0;
  }
}
