
.tab {
  &__nav {
    width: 100%;
    // margin: 0 0 10px;
  }

  &__container {
    position: relative;
  }

  &__box {
    display: none;
    opacity: 0;
  }

  &__list {
    &--nav {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      // height: 60px;
      .active {
        font-weight: 600;
        color: $color-white;
        background: $color-main;
      }
    }
  }

  &__item {
    &--nav {
      text-transform: uppercase;
      background: $color-white;
      color: $color-main;
      cursor: pointer;
      width: calc(100% / 4);
      padding: 8px 4px;
      text-align: center;
      transition: color .1s ease;
      &:active {
        color: $color-main;
      }
      i {
        color: $color-white;
      }

      p {
      }
    }
  }
}

.tab__container .tab__box.show {
  display: block;/*表示*/
  animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
  animation-duration: .6s;
  animation-fill-mode: forwards;
  background: $color-main;
}


@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
